
<div class="pt-3">    
  <h2 class="h4 text-center">Login/Signup</h2>
</div>

<hr>

<div data-controller="users-by-email-auth" class="modal-body ">

    <!-- Email input -->
    <div class="field mb-4">
        <label for="email" class="form-label">Email</label> 
        <input data-users-by-email-auth-target="email" type="text" name="email" id="email" class="form-control border border-dark" placeholder="heidlessemail05@gmail.com" />
    </div>

    <div class="actions">
        <!-- Submit button -->
        <button data-users-by-email-auth-target="submit" type="submit" class="btn btn-primary btn-block w-100">Continue</button>
    </div>
</div>

<div>
  <div class="modal-header">
    <button type="button" class="btn btn-light btn-block w-100 border border-dark">
        <i class="fa fa-brands fa-google"></i> Continue with Google
    </button>
  </div>
      
</div>