
<div class="pt-3">    
  <h2 class="h4 text-center">Login/Signup</h2>
</div>

<hr>

<div data-controller="users-by-email-auth" class="modal-body ">

  <form class="row g-3 requires-validation" novalidate>
    <div class="col-md-12">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" required>
        <div class="valid-feedback">
          Username looks good!
        </div>
        <div class="invalid-feedback">
          Username is required!
        </div>
    </div>
    <div class="col-md-12">
        <label for="password" class="form-label">Password:</label>
        <input type="text" class="form-control" id="password" required>
        <div class="valid-feedback">
          Password looks good!
        </div>
        <div class="invalid-feedback">
          Password is required!
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>

  <hr>

  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input data-users-by-email-auth-target="email" type="email" class="form-control is-invalid" id="email" placeholder="name@example.com" required>
    <div class="invalid-feedback">
      Please provide a valid email address.
    </div>
  </div>

  <div class="actions">
      <!-- Submit button -->
      <button data-users-by-email-auth-target="submit" type="submit" class="btn btn-primary btn-block w-100">Continue</button>
  </div>

</div>

<div>
  <div class="modal-header">
    <button type="button" class="btn btn-light btn-block w-100 border border-dark">
        <i class="fa fa-brands fa-google"></i> Continue with Google
    </button>
  </div>
      
</div>