
<div class="pt-3">    
  <h2 class="h4 text-center">Login/Signup - TST</h2>
</div>

<hr>

<div class="modal-body ">
  <%= form_with url: api_users_by_email_path do |f|  %>

    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <%= f.label :email, class:"form-label" %>
        <%= f.email_field :email, class:"form-control border border-dark", placeholder:"heidlessemail05@gmail.com" %>
    </div>

    <div class="actions">
      <%= f.submit "Continue", class: "btn btn-primary btn-block w-100" %>
    </div>

  <% end %>

  <div class="actions mt-3">
    <button type="button" class="btn btn-light btn-block w-100 border border-dark">
        <i class="fa fa-brands fa-google"></i> Continue with Google
    </button>
  </div>
      
</div>